    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container-fluid animated fadeIns very-slow">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span [innerHTML]="keys.NAVBAR_COLLAPSE_BUTTON_ESP"></span>
                <i class="fas fa-bars ml-2"></i>
            </button>
            <div class="collapse navbar-collapse center-align navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#personal" [innerHTML]="keys.NAVBAR_PERSONAL_SECTION_ESP" (click)="scrollToPersonal()"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#educacion" [innerHTML]="keys.NAVBAR_EDUCATION_SECTION_ESP"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#experiencia" [innerHTML]="keys.NAVBAR_EXPERIENCE_SECTION_ESP"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#conocimientos" [innerHTML]="keys.NAVBAR_COMPUTER_SKILLS_SECTION_ESP"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#idiomas" [innerHTML]="keys.NAVBAR_LENGUAGES_SECTION_ESP"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#compyhab" [innerHTML]="keys.NAVBAR_COMPETENCIES_SECTION_ESP"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#otros" [innerHTML]="keys.NAVBAR_ANOTHER_INTERESTS_SECTION_ESP"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contacto" [innerHTML]="keys.NAVBAR_CONTACT_SECTION_ESP"></a>
                    </li>
                    <li class="nav-item center-align">
                        <a id="es-flag" class="mr-2"><img src="assets/img/spanishflag.png"></a>
                        <a id="en-flag"><img src="assets/img/englishflag.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

