    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center animated fadeIn very-slow">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase" [innerHTML]="keys.HEADER_TITLE_ESP"></h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">
                    <span [innerHTML]="keys.HEADER_SUBTITLE_ESP"></span>
                    <span [innerHTML]="keys.HEADER_NAME_ESP"></span>
                </h2>
                <img class="img-fluid perfil-cuadrado" src="assets/img/perfil-cuadrado.jpg" alt="" />
                <h3 class="text-white-50 mx-auto mt-2 mb-5" [innerHTML]="keys.HEADER_JOB_ESP"></h3>
            </div>
        </div>
    </header>