<!-- Competencias y habilidades -->
<section id="compyhab" class="compyhab-section text-center">
  <div class="container-fluid" id="txt-compyhab">
    <div class="row">
      <h2 class="text-black mb-4 col">{{ 'NAVBAR_COMPETENCIES_SECTION' | translate | uppercase }}</h2>
    </div>
    <div class="row">
      <div class="col mt-5">
        <p class="text-black">{{ 'COMPETENCIES_COMPETENCIE_1' | translate }}</p>
      </div>
      <div class="w-100"></div>
      <div class="col mt-5">
        <p class="text-black">{{ 'COMPETENCIES_COMPETENCIE_2' | translate }}</p>
      </div>
      <div class="w-100"></div>
      <div class="col mt-5">
        <p class="text-black">{{ 'COMPETENCIES_COMPETENCIE_3' | translate }}</p>
      </div>
      <div class="w-100"></div>
      <div class="col mt-5">
        <p class="text-black">{{ 'COMPETENCIES_COMPETENCIE_4' | translate }}</p>
      </div>
      <div class="w-100"></div>
      <div class="col mt-5">
        <p class="text-black">{{ 'COMPETENCIES_COMPETENCIE_5' | translate }}</p>
      </div>
    </div>
  </div>
</section>
