<!-- Competencias y habilidades -->
<section id="compyhab" class="compyhab-section text-center">
    <div class="container-fluid" id="txt-compyhab">
        <div class="row">
            <h2 class="text-black mb-4 col" [innerHTML]="keys.NAVBAR_COMPETENCIES_SECTION_ESP.toUpperCase()"></h2>
        </div>
        <div class="row">
            <div class="col mt-5">
                <p class="text-black" [innerHTML]="keys.COMPETENCIES_COMPETENCIE_1"></p>
            </div>
            <div class="w-100"></div>
            <div class="col mt-5">
                <p class="text-black" [innerHTML]="keys.COMPETENCIES_COMPETENCIE_2"></p>
            </div>
            <div class="w-100"></div>
            <div class="col mt-5">
                <p class="text-black" [innerHTML]="keys.COMPETENCIES_COMPETENCIE_3"></p>
            </div>
            <div class="w-100"></div>
            <div class="col mt-5">
                <p class="text-black" [innerHTML]="keys.COMPETENCIES_COMPETENCIE_4"></p>
            </div>
            <div class="w-100"></div>
            <div class="col mt-5">
                <p class="text-black" [innerHTML]="keys.COMPETENCIES_COMPETENCIE_5"></p>
            </div>
        </div>
    </div>
</section>
