<section class="projects-section" id="projects">
  <div class="container">
    <div class="row text-center">
      <h2 class="text-white mb-4 col">{{ 'NAVBAR_PROJECTS_SECTION' | translate | uppercase }}</h2>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0 w-75 hor-aligment">
      <div class="bg-light text-center h-100 project rounded">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-black mb-4">{{ 'PROJECTS_PROJECT_1_TITLE' | translate }}</h4>
            <a href="https:/cvjuangracialahoz.netlify.app/assets/img/people_finder.png" target="_blank">
              <img class="img-fluid rounded" src="../../../assets/img/people_finder.png" alt="" />
            </a>
            <div class="mt-4">
              <p class="mb-0 text-black-50 text-justify">{{ 'PROJECTS_PROJECT_1_P_1' | translate }}</p>
              <br>
              <p class="mb-0 text-black-50 text-justify">{{ 'PROJECTS_PROJECT_1_P_2' | translate }}</p>
              <br>
              <p class="mb-0 text-black-50 text-justify">{{ 'PROJECTS_PROJECT_1_P_3' | translate }}</p>
              <br>
              <a [href]="keys.PEOPLE_FINDER_URL" target="_blank">{{ 'PROJECTS_LINK' | translate }}</a>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="row justify-content-center no-gutters mt-5 mb-5 mb-lg-0 w-75 hor-aligment">
      <div class="bg-light text-center h-100 project rounded">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-black mb-4">{{ 'PROJECTS_PROJECT_2_TITLE' | translate }}</h4>
            <a href="https:/cvjuangracialahoz.netlify.app/assets/img/cv_project.jpg" target="_blank">
              <img class="img-fluid rounded" src="../../../assets/img/cv_project.jpg" alt="" />
            </a>
            <div class="mt-4">
              <p class="mb-0 text-black-50 text-justify">{{ 'PROJECTS_PROJECT_2_P_1' | translate }}</p>
              <br>
              <p class="mb-0 text-black-50 text-justify">{{ 'PROJECTS_PROJECT_2_P_2' | translate }}</p>
              <br>
              <p class="mb-0 text-black-50 text-justify">{{ 'PROJECTS_PROJECT_2_P_3' | translate }}</p>
              <br>
              <a [href]="keys.CV_REPOSITORY" target="_blank">{{ 'PROJECTS_LINK' | translate }}</a>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mt-4 mb-5 mb-lg-0 w-75 hor-aligment">
      <div class="bg-light text-center h-100 project rounded">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-black mb-4">{{ 'PROJECTS_REPOSITORY_TITLE' | translate }}</h4>
            <div class="mt-4">
              <p class="mb-0 text-black-50">{{ 'PROJECTS_REPOSITORY' | translate }}</p>
              <br>
              <a [href]="keys.REPOSITORY_URL" target="_blank">{{ 'PROJECTS_LINK' | translate }}</a>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
