<app-navbar></app-navbar>
<app-header></app-header>
<app-personal-description></app-personal-description>
<app-education></app-education>   
<app-experience></app-experience>
    <!-- Conocimientos Informáticos -->
    <section id="conocimientos" class="conocimientos-section text-center">
        <div class="container-fluid" id="txt-conocimientos">
            <div class="row">
                <h2 class="text-black mb-4 col">CONOCIMIENTOS INFORMÁTICOS</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <h4 class="mb-4"><i name="ico-conoc" class="fas fa-laptop-code"></i> <u>Lenguajes de
                                programación</u></h4>

                        <p>
                            Java
                        </p>
                        <p>
                            C#
                        </p>
                        <p>
                            PHP
                        </p>

                    </div>
                    <div class="mt-5">
                        <h4 class="mb-4"><i name="ico-conoc" class="fas fa-database"></i> <u>Lenguajes de bases de
                                datos</u></h4>
                        <p>
                            MySQL
                        </p>
                        <p>
                            PL/SQL
                        </p>
                        <p>
                            PostgreSQL
                        </p>
                        <p>
                            MongoDB
                        </p>
                    </div>
                    <div class="mt-5">
                        <h4 class="mb-4"><i name="ico-conoc" class="fas fa-file-code"></i> <u>Entorno WEB</u></h4>
                        <p>
                           TypeScript
                        </p>
                        <p>
                            HTML
                        </p>
                        <p>
                            CSS
                        </p>
                        <p>
                            JavaScript
                        </p>
                        <p>
                            XML
                        </p>
                        <p>
                            JSON
                        </p>
                        <p>
                            Bootstrap
                        </p>
                    </div>
                    <div class="mt-5">
                        <h4 class="mb-4"><i name="ico-conoc" class="fas fa-wrench"></i> <u>Herramientas</u></h4>
                        <div class="row">
                            <div class="col">
                                <h4 class="mt-3 mb-3">IDEs de desrrollo</h4>
                                <p>
                                    WebStorm
                                </p>
                                <p>
                                    PhpStorm
                                </p>
                                <p>
                                    Eclipse
                                </p>
                                <p>
                                    NetBeans
                                </p>
                                <p>
                                    Visual Studio Enterprise
                                </p>
                                <p>
                                    Visual Studio Code
                                </p>
                                <p>
                                    Brackets
                                </p>
                                <p>
                                    Spring Tool Suit
                                </p>
                            </div>
                            <div class="col">
                                <h4 class="mt-3 mb-3">Frameworks</h4>
                                <p>
                                    Angular
                                </p>
                                <p>
                                    React Native
                                </p>
                                <p>
                                    CodeIgniter
                                </p>
                                <p>
                                    NodeJs
                                </p>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h4 class="mb-4"><i name="ico-conoc" class="fas fa-server"></i> <u>Servidores de sitios web
                                    y aplicaciones</u></h4>
                            <p>
                                Apache
                            </p>
                            <p>
                                NginX
                            </p>
                            <p>
                                Tomcat
                            </p>
                            <p>
                                VestaCP
                            </p>
                        </div>
                        <div class="mt-5">
                            <h4 class="mb-4"><i name="ico-conoc" class="fab fa-ubuntu"></i> <u>Sistemas operativos</u>
                            </h4>
                            <p>
                                Windows
                            </p>
                            <p>
                                Linux
                            </p>
                            <p>
                                Debian
                            </p>
                            <p>
                                Centos
                            </p>
                            <p>
                                Raspbian
                            </p>
                        </div>
                        <div class="mt-5">
                            <h4 class="mb-4"><i name="ico-conoc" class="fas fa-code-branch"></i> <u>Sistema de control
                                    de versiones</u></h4>
                            <p>
                                GIT
                            </p>
                            <p>
                                GitFlow
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Idiomas -->
    <section id="idiomas" class="idiomas-section text-center">
        <div class="container-fluid" id="txt-idiomas">
            <div class="row">
                <h2 class="text-white mb-4 col">IDIOMAS</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <h4 class="mb-4 text-white-80"><u>Inglés</u></h4>
                        <p class="mb-4 text-white-70">
                            Dominio de la lengua inglesa a nivel intermedio e interesado en mejorar el idioma
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Competencias y habilidades -->
    <section id="compyhab" class="compyhab-section text-center">
        <div class="container-fluid" id="txt-compyhab">
            <div class="row">
                <h2 class="text-black mb-4 col">COMPETENCIAS Y HABILIDADES</h2>
            </div>
            <div class="row">
                <div class="col mt-5">
                    <p class="text-black">
                        Buen trabajador en equipo, ordenado y dedicado
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col mt-5">
                    <p class="text-black">
                        Entregado y comprometido con la labor que desempeño
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col mt-5">
                    <p class="text-black">
                        Resolutivo a la hora de llevar a término los problemas planteados
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col mt-5">
                    <p class="text-black">
                        Creativo, me gusta buscar nuevas soluciones e ideas en el desarrollo de aplicaciones
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col mt-5">
                    <p class="text-black">
                        Autodidacta
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Otros intereses -->
    <section id="otros" class="otros-section text-center">
        <div class="container-fluid" id="txt-otros">
            <div class="row">
                <h2 class="text-white mb-4 col">OTROS INTERESES</h2>
            </div>
            <div class="row">
                <div class="col center-align">
                    <i class="fas fa-id-card fa-3x text-white-70"></i>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <p class="mb-4 text-white-70">
                        Carnet de conducir tipo B
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col center-align">
                    <i class="fas fa-car fa-3x text-white-70"></i>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <p class="mb-4 text-white-70">
                        Coche propio
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col center-align">
                    <i class="fas fa-dog fa-3x text-white-70"></i>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <p class="mb-4 text-white-70">
                        Servicio de voluntariado en la protectora de animales <i>Espolones</i>
                    </p>
                </div>
            </div>
        </div>
        <!--
</section>
    <section class="projects-section bg-light" id="projects">
      <div class="container">
        <div class="row text-center">
          <h2 class="text-black mb-4 col">Proyectos</h2>
      </div>  
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="" />
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <h4 class="text-white">Fittivity</h4>
                  <p class="mb-0 text-white-50">
                    Red social para deportistas.
                  </p>
                  <p>Enlace</p>
                  <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="" />
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-right"
                >
                  <h4 class="text-white">Mountains</h4>
                  <p class="mb-0 text-white-50">
                    Another example of a project with its respective
                    description. These sections work well responsively as well,
                    try this theme on a small screen!
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  -->
        <hr class="mr-5 ml-5">
        <!-- Contact-->
        <section class="contact-section bg-black pb-5">
            <div id="contacto" class="container">
                <div class="row">
                    <div class="col mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Correo</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">
                                    <a href="mailto: jgrzz.menel@gmail.com">jgrzz.menel@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Movil</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="tel:676571828">676 57 18 28</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>