<!-- Conocimientos Informáticos -->
<section id="conocimientos" class="conocimientos-section text-center">
  <div class="container-fluid" id="txt-conocimientos">
    <div class="row">
      <h2 class="text-black mb-4 col" [innerHTML]="keys.NAVBAR_COMPUTER_SKILLS_SECTION_ESP.toUpperCase()"></h2>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <h4 class="mb-4"><i name="ico-conoc" class="fas fa-laptop-code mr-2"></i>
            <span [innerHTML]="keys.COMPUTER_SKILLS_1_TITLE"></span>
          </h4>
          <p [innerHTML]="keys.COMPUTER_SKILLS_1_ELEMENT_1"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_1_ELEMENT_2"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_1_ELEMENT_3"></p>
        </div>
        <div class="mt-5">
          <h4 class="mb-4"><i name="ico-conoc" class="fas fa-database mr-2"></i>
            <span [innerHTML]="keys.COMPUTER_SKILLS_2_TITLE"></span>
          </h4>
          <p [innerHTML]="keys.COMPUTER_SKILLS_2_ELEMENT_1"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_2_ELEMENT_2"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_2_ELEMENT_3"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_2_ELEMENT_4"></p>
        </div>
        <div class="mt-5">
          <h4 class="mb-4"><i name="ico-conoc" class="fas fa-file-code mr-2"></i>
            <span [innerHTML]="keys.COMPUTER_SKILLS_3_TITLE"></span>
          </h4>
          <p [innerHTML]="keys.COMPUTER_SKILLS_3_ELEMENT_1"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_3_ELEMENT_2"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_3_ELEMENT_3"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_3_ELEMENT_4"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_3_ELEMENT_5"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_3_ELEMENT_6"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_3_ELEMENT_7"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_3_ELEMENT_8"></p>
        </div>
        <div class="mt-5">
          <h4 class="mb-4"><i name="ico-conoc" class="fas fa-wrench mr-2"></i>
            <span [innerHTML]="keys.COMPUTER_SKILLS_1_TITLE"></span>
        </h4>
          <div class="row">
            <div class="col">
              <h4 class="mt-3 mb-3" [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_1_TITLE"></h4>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_1_ELEMENT_1"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_1_ELEMENT_2"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_1_ELEMENT_3"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_1_ELEMENT_4"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_1_ELEMENT_5"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_1_ELEMENT_6"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_1_ELEMENT_7"></p>
            </div>
            <div class="col">
              <h4 class="mt-3 mb-3" [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_2_TITLE"></h4>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_2_ELEMENT_1"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_2_ELEMENT_2"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_2_ELEMENT_3"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_2_ELEMENT_4"></p>
              <p [innerHTML]="keys.COMPUTER_SKILLS_4_SUBSECTION_2_ELEMENT_5"></p>
            </div>
          </div>
          <div class="mt-5">
            <h4 class="mb-4"><i name="ico-conoc" class="fas fa-server mr-2"></i>
                <span [innerHTML]="keys.COMPUTER_SKILLS_5_TITLE"></span>
            </h4>
            <p [innerHTML]="keys.COMPUTER_SKILLS_5_ELEMENT_1"></p>
            <p [innerHTML]="keys.COMPUTER_SKILLS_5_ELEMENT_2"></p>
            <p [innerHTML]="keys.COMPUTER_SKILLS_5_ELEMENT_3"></p>
            <p [innerHTML]="keys.COMPUTER_SKILLS_5_ELEMENT_4"></p>
            <p [innerHTML]="keys.COMPUTER_SKILLS_5_ELEMENT_5"></p>
            <p [innerHTML]="keys.COMPUTER_SKILLS_5_ELEMENT_6"></p>
          </div>
          <div class="mt-5">
            <h4 class="mb-4"><i name="ico-conoc" class="fab fa-ubuntu mr-2"></i>
                <span [innerHTML]="keys.COMPUTER_SKILLS_6_TITLE"></span>
            </h4>
            <p [innerHTML]="keys.COMPUTER_SKILLS_6_ELEMENT_1"></p>
            <p [innerHTML]="keys.COMPUTER_SKILLS_6_ELEMENT_2"></p>
            <p [innerHTML]="keys.COMPUTER_SKILLS_6_ELEMENT_3"></p>
            <p [innerHTML]="keys.COMPUTER_SKILLS_6_ELEMENT_4"></p>
            <p [innerHTML]="keys.COMPUTER_SKILLS_6_ELEMENT_5"></p>
          </div>
          <div class="mt-5">
            <h4 class="mb-4"><i name="ico-conoc" class="fas fa-code-branch mr-2"></i>
                <span [innerHTML]="keys.COMPUTER_SKILLS_7_TITLE"></span>
          </h4>
          <p [innerHTML]="keys.COMPUTER_SKILLS_7_ELEMENT_1"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_7_ELEMENT_2"></p>
          <p [innerHTML]="keys.COMPUTER_SKILLS_7_ELEMENT_3"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
