<!-- Otros intereses -->
<section id="otros" class="otros-section text-center">
  <div class="container-fluid" id="txt-otros">
    <div class="row">
      <h2 class="text-white mb-4 col">{{ 'NAVBAR_ANOTHER_INTERESTS_SECTION' | translate | uppercase }}</h2>
    </div>
    <div class="row">
      <div class="col center-align">
        <i class="fas fa-id-card fa-3x text-white-70"></i>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <p class="mb-4 text-white-70">{{ 'INTERESTS_INTEREST_1' | translate }}</p>
      </div>
      <div class="w-100"></div>
      <div class="col center-align">
        <i class="fas fa-car fa-3x text-white-70"></i>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <p class="mb-4 text-white-70">{{ 'INTERESTS_INTEREST_2' | translate }}</p>
      </div>
      <div class="w-100"></div>
      <div class="col center-align">
        <i class="fas fa-dog fa-3x text-white-70"></i>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <p class="mb-4 text-white-70">{{ 'INTERESTS_INTEREST_3' | translate }}</p>
      </div>
    </div>
  </div>
</section>
