<!-- Experiencia -->
<section id="experiencia" class="experiencia-section text-center">
  <div class="m-5" id="txt-experiencia">
    <h2 class="text-white mb-4">{{ 'NAVBAR_EXPERIENCE_SECTION' | translate | uppercase }}</h2>
    <h4 name="subtlt-exp" class="text-justify text-white-80 mb-3 mt-5">{{ 'EXPERIENCE_SUBTITLE_1' | translate }}</h4>
    <div class="row">
      <div name="ico-exp" class="col-2 center-align">
        <i class="fas fa-laptop-code fa-3x text-white-70"></i>
      </div>
      <div name="separador" class="w-100"></div>
      <div name="descp-exp" class="col-10 text-justify">
        <p class="text-white-80 experience-title">{{ 'EXPERIENCE_1_TITLE' | translate }}</p>
        <p class="text-white-70">{{ 'EXPERIENCE_1_DESCRIPTION' | translate }}</p>
        <p class="text-white-50 experience-period">{{ 'EXPERIENCE_1_PERIOD' | translate }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div name="ico-exp" class="col-2 center-align">
        <i class="fas fa-laptop-code fa-3x text-white-70"></i>
      </div>
      <div name="separador" class="w-100"></div>
      <div name="descp-exp" class="col-10 text-justify">
        <p class="text-white-80 experience-title">{{ 'EXPERIENCE_2_TITLE' | translate }}</p>
        <p class="text-white-70">{{ 'EXPERIENCE_2_DESCRIPTION' | translate }}</p>
        <p class="text-white-50 experience-period">{{ 'EXPERIENCE_2_PERIOD' | translate }}</p>
      </div>
    </div>
    <h4 name="subtlt-exp" class="text-justify text-white-80 mb-3 mt-5">{{ 'EXPERIENCE_SUBTITLE_2' | translate }}</h4>
    <div class="row">
      <div name="ico-exp" class="col-2 center-align">
        <i class="fas fa-utensils fa-3x text-white-70"></i>
      </div>
      <div name="separador" class="w-100"></div>
      <div name="descp-exp" class="col-10 text-justify">
        <p class="text-white-80 experience-title">{{ 'EXPERIENCE_3_TITLE' | translate }}</p>
        <p class="text-white-70">{{ 'EXPERIENCE_3_DESCRIPTION' | translate }}</p>
        <p class="text-white-50 experience-period">{{ 'EXPERIENCE_3_PERIOD' | translate }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div name="ico-exp" class="col-2 center-align">
        <i class="fas fa-shield-alt fa-3x text-white-70"></i>
      </div>
      <div name="separador" class="w-100"></div>
      <div name="descp-exp" class="col-10 text-justify">
        <p class="text-white-80 experience-title">{{ 'EXPERIENCE_4_TITLE' | translate }}</p>
        <p class="text-white-70">{{ 'EXPERIENCE_4_DESCRIPTION' | translate }}</p>
        <p class="text-white-50 experience-period">{{ 'EXPERIENCE_4_PERIOD' | translate }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div name="ico-exp" class="col-2 center-align">
        <i class="fas fa-industry fa-3x text-white-70"></i>
      </div>
      <div name="separador" class="w-100"></div>
      <div name="descp-exp" class="col-10 text-justify">
        <p class="text-white-80 experience-title">{{ 'EXPERIENCE_5_TITLE' | translate }}</p>
        <p class="text-white-70">{{ 'EXPERIENCE_5_DESCRIPTION' | translate }}</p>
        <p class="text-white-50 experience-period">{{ 'EXPERIENCE_5_PERIOD' | translate }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div name="ico-exp" class="col-2 center-align">
        <i class="fas fa-utensils fa-3x text-white-70"></i>
      </div>
      <div name="separador" class="w-100"></div>
      <div name="descp-exp" class="col-10 text-justify">
        <p class="text-white-80 experience-title">{{ 'EXPERIENCE_6_TITLE' | translate }}</p>
        <p class="text-white-70">{{ 'EXPERIENCE_6_DESCRIPTION' | translate }}</p>
        <p class="text-white-50 experience-period">{{ 'EXPERIENCE_6_PERIOD' | translate }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div name="ico-exp" class="col-2 center-align">
        <i class="fas fa-hamburger fa-3x text-white-70"></i>
      </div>
      <div name="separador" class="w-100"></div>
      <div name="descp-exp" class="col-10 text-justify">
        <p class="text-white-80 experience-title">{{ 'EXPERIENCE_7_TITLE' | translate }}</p>
        <p class="text-white-70">{{ 'EXPERIENCE_7_DESCRIPTION' | translate }}</p>
        <p class="text-white-50 experience-period">{{ 'EXPERIENCE_7_PERIOD' | translate }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div name="ico-exp" class="col-2 center-align">
        <i class="fas fa-store fa-3x text-white-70"></i>
      </div>
      <div name="separador" class="w-100"></div>
      <div name="descp-exp" class="col-10 text-justify">
        <p class="text-white-80 experience-title">{{ 'EXPERIENCE_8_TITLE' | translate }}</p>
        <p class="text-white-70">{{ 'EXPERIENCE_8_DESCRIPTION' | translate }}</p>
        <p class="text-white-50 experience-period">{{ 'EXPERIENCE_8_PERIOD' | translate }}</p>
      </div>
    </div>
  </div>
</section>
