
    <!-- Experiencia -->
    <section id="experiencia" class="experiencia-section text-center">
        <div class="m-5" id="txt-experiencia">
            <h2 class="text-white mb-4" [innerHTML]="keys.NAVBAR_EXPERIENCE_SECTION_ESP.toUpperCase()"></h2>
            <h4 name="subtlt-exp" class="text-justify text-white-80 mb-3 mt-5" [innerHTML]="keys.EXPERIENCE_SUBTITLE_1_ESP"></h4>
            <div class="row">
                <div name="ico-exp" class="col-2 center-align">
                    <i class="fas fa-laptop-code fa-3x text-white-70"></i>
                </div>
                <div name="separador" class="w-100"></div>
                <div name="descp-exp" class="col-10 text-justify">
                    <p class="text-white-80 experience-title" [innerHTML]="keys.EXPERIENCE_1_TITLE_ESP"></p>
                    <p class="text-white-70" [innerHTML]="keys.EXPERIENCE_1_DESCRIPTION_ESP"></p>
                    <p class="text-white-50 experience-period" [innerHTML]="keys.EXPERIENCE_1_PERIOD_ESP"></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div name="ico-exp" class="col-2 center-align">
                    <i class="fas fa-laptop-code fa-3x text-white-70"></i>
                </div>
                <div name="separador" class="w-100"></div>
                <div name="descp-exp" class="col-10 text-justify">
                    <p class="text-white-80 experience-title" [innerHTML]="keys.EXPERIENCE_2_TITLE_ESP"></p>
                    <p class="text-white-70" [innerHTML]="keys.EXPERIENCE_2_DESCRIPTION_ESP"></p>
                    <p class="text-white-50 experience-period" [innerHTML]="keys.EXPERIENCE_2_PERIOD_ESP"></p>
                </div>
            </div>
            <h4 name="subtlt-exp" class="text-justify text-white-80 mb-3 mt-5" [innerHTML]="keys.EXPERIENCE_SUBTITLE_2_ESP"></h4>
            <div class="row">
                <div name="ico-exp" class="col-2 center-align">
                    <i class="fas fa-utensils fa-3x text-white-70"></i>
                </div>
                <div name="separador" class="w-100"></div>
                <div name="descp-exp" class="col-10 text-justify">
                    <p class="text-white-80 experience-title" [innerHTML]="keys.EXPERIENCE_3_TITLE_ESP"></p>
                    <p class="text-white-70" [innerHTML]="keys.EXPERIENCE_3_DESCRIPTION_ESP"></p>
                    <p class="text-white-50 experience-period" [innerHTML]="keys.EXPERIENCE_3_PERIOD_ESP"></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div name="ico-exp" class="col-2 center-align">
                    <i class="fas fa-shield-alt fa-3x text-white-70"></i>
                </div>
                <div name="separador" class="w-100"></div>
                <div name="descp-exp" class="col-10 text-justify">
                    <p class="text-white-80 experience-title" [innerHTML]="keys.EXPERIENCE_4_TITLE_ESP"></p>
                    <p class="text-white-70" [innerHTML]="keys.EXPERIENCE_4_DESCRIPTION_ESP"></p>
                    <p class="text-white-50 experience-period" [innerHTML]="keys.EXPERIENCE_4_PERIOD_ESP"></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div name="ico-exp" class="col-2 center-align">
                    <i class="fas fa-industry fa-3x text-white-70"></i>
                </div>
                <div name="separador" class="w-100"></div>
                <div name="descp-exp" class="col-10 text-justify">
                    <p class="text-white-80 experience-title" [innerHTML]="keys.EXPERIENCE_5_TITLE_ESP"></p>
                    <p class="text-white-70" [innerHTML]="keys.EXPERIENCE_5_DESCRIPTION_ESP"></p>
                    <p class="text-white-50 experience-period" [innerHTML]="keys.EXPERIENCE_5_PERIOD_ESP"></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div name="ico-exp" class="col-2 center-align">
                    <i class="fas fa-utensils fa-3x text-white-70"></i>
                </div>
                <div name="separador" class="w-100"></div>
                <div name="descp-exp" class="col-10 text-justify">
                    <p class="text-white-80 experience-title" [innerHTML]="keys.EXPERIENCE_6_TITLE_ESP"></p>
                    <p class="text-white-70" [innerHTML]="keys.EXPERIENCE_6_DESCRIPTION_ESP"></p>
                    <p class="text-white-50 experience-period" [innerHTML]="keys.EXPERIENCE_6_PERIOD_ESP"></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div name="ico-exp" class="col-2 center-align">
                    <i class="fas fa-hamburger fa-3x text-white-70"></i>
                </div>
                <div name="separador" class="w-100"></div>
                <div name="descp-exp" class="col-10 text-justify">
                    <p class="text-white-80 experience-title" [innerHTML]="keys.EXPERIENCE_7_TITLE_ESP"></p>
                    <p class="text-white-70" [innerHTML]="keys.EXPERIENCE_7_DESCRIPTION_ESP"></p>
                    <p class="text-white-50 experience-period" [innerHTML]="keys.EXPERIENCE_7_PERIOD_ESP"></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div name="ico-exp" class="col-2 center-align">
                    <i class="fas fa-store fa-3x text-white-70"></i>
                </div>
                <div name="separador" class="w-100"></div>
                <div name="descp-exp" class="col-10 text-justify">
                    <p class="text-white-80 experience-title" [innerHTML]="keys.EXPERIENCE_8_TITLE_ESP"></p>
                    <p class="text-white-70" [innerHTML]="keys.EXPERIENCE_8_DESCRIPTION_ESP"></p>
                    <p class="text-white-50 experience-period" [innerHTML]="keys.EXPERIENCE_8_PERIOD_ESP"></p>
                </div>
            </div>
        </div>
    </section>
